@keyframes backgroundChange {
    0% { background-image: url('img/back1.jpg'); }
    20% { background-image: url('img/back2.jpg'); }
    40% { background-image: url('img/back3.jpg'); }
    60% { background-image: url('img/back4.jpg'); }
    80% { background-image: url('img/back5.webp'); }
    100% { background-image: url('img/back1.jpg'); }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: backgroundChange 25s infinite;
    background-size: cover;
    background-position: center;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.logo
{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
